[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"
pylint = "*"

[packages]
pillow = "*"
requests = "*"
numpy = "*"
opencv-python = "*"
pyyaml = "*"

[requires]
python_version = "3.8"
